h2 {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #317eac;
    margin-bottom: 20px;
}

.tocify-item {
  font-size: 1.1em;
}

.tocify-subheader {
  font-size: 1.0em;
}

body {
  font-size: 16px;
}

#header {
  padding-bottom: 30px;
}
